:root {
    /* background */
    --c-dark: #141d2d;
    --c-light: #fff;
    --c-accent: #ff6b08;
    --c-dark-blue: #253045;
    --c-grey-blue: #4a5771;
    --c-grey-light: #f1f2f2;
    --c-grey: #bcc1d2;
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4f5b70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;
    --animation-transition: all 0.2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    background: var(--c-dark);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.container-left {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    background: var(--c-light);
}


/* NAVIGATION */

.front-page {
    width: 100%;
}

.navigation {
    background: var(--c-dark);
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px 40px 10px;
}

.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    transition: var(--animation-transition);
}

.logo-link:hover {
    transform: scale(1.1);
}

.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    font-weight: bold;
    margin-right: 30px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-grey);
    text-decoration: none;
    text-align: center;
    transition: var(--animation-transition);
}

.menu-item:hover {
    color: var(--c-accent);
    font-size: 20px;
}

.download-btm {
    width: 50px;
    height: 45px;
    background: var(--c-accent);
    display: block;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.download-btm:hover {
    transition: var(--animation-transition);
    font-size: 20px;
}

.download-icon i {
    color: var(--c-dark);
}

.my-photo {
    width: 170px;
    height: 200px;
}

.front-page-main-info {
    background: var(--c-dark);
    align-items: flex-start;
    z-index: 2;
    position: relative;
    min-width: 387px;
    margin-top: 60px;
}

.front-page-my-name {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--c-accent);
    text-align: center;
    margin: 35px 0 32px 0;
    margin-top: -195px;
    margin-left: -300px;
}

.my-photo {
    width: 280px;
    height: 310px;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 20px;
}

.front-page-profesional {
    font-size: 65px;
    line-height: 84px;
    width: 490px;
    margin-left: -80px;
    margin-bottom: 60px;
    z-index: 2;
    margin-top: 4px;
    text-transform: uppercase;
    color: var(--txt-c-light);
    text-align: center;
    font-weight: bold;
}

.front-page-part-1 {
    margin-right: 40px;
}

.front-page-part-2 {
    margin-left: 40px;
}

.front-page-descriptoin {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.front-page-descriptoin-text {
    color: var(--txt-c-light);
    font-size: 19px;
    line-height: 150%;
    width: 430px;
    margin: 0 0 40px 0;
    text-align: left;
    margin-left: 20px;
}

.front-page-laptop {
    width: 300px;
}

.front-page-laptop {
    position: relative;
    
    z-index: 2;
}


/* ABOUT PAGE */

.about-content-wrapper {
    margin-left: 20px;
}

.about-title {
    font-size: 70px;
    line-height: 84px;
    width: 630px;
    margin-top: 0;
    text-transform: uppercase;
}

.about-text {
    width: 470px;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: var(--c-dark);
    margin: 0 0 60px 0;
}

.about-img-container {
    position: absolute;
    justify-content: right;
    right: 0px;
  
}

.about-img-text {
    font-size: 250px;
    /* line-height: 300px;
    text-align: end;
    left: 700px;
    top: -120px; */
    z-index: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--c-grey-blue);
    writing-mode: tb-rl;
    margin: auto;
    position: relative;
    opacity: 0.6;
}


/* EDUCATION */

.education-container-wrapper {
    width: 97%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education-title {
    color: var(--txt-c-light);
    font-size: 70px;
    line-height: 84px;
    width: 630px;
    margin-top: 30px;
    text-transform: uppercase;
}

.educatoin-link {
    color: var(--txt-c-accent);
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    transition: var(--animation-transition);
}

.educatoin-link:hover {
    font-size: 45px;
}

.education-list {
    width: 850px;
    margin-left: 20px;
}

.discription-text {
    width: 470px;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: var(--txt-c-light);
    margin: 0 0 30px 0;
}
/* SKILLS */

.skills-container {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: var(--c-light);
}

.skills-img-text {
    font-size: 170px;
    line-height: 300px;
    text-transform: uppercase;
    z-index: 1;
    font-weight: bold;
    color: var(--c-grey-blue);
    margin: 42px 102px;
    opacity: 0.6;
}
.laptop-web {
margin-right: 30px;
}


/* EXPIRIENCE */

.content-container {
    display: flex;
    flex-direction: column;
}

.expiriens-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin: 20px 10px;
}

.expirience-title {
    color: var(--txt-c-light);
    font-size: 30px;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.expirience-skill {
    align-items: center;
}

.expirience-soft-skill {
    margin-top: 45px;
}

.expirience-dots {
    font-size: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
}

.expirience-dots-items {
    color: var(--txt-c-grey);
    font-size: 15px;
    margin-right: 10px;
}

.expirience-dots-item-accent {
    color: var(--c-accent);
}

.expirience-text {
    color: var(--txt-c-light);
    margin: 0px;
    font-size: 25px;
    line-height: 20px;
    margin-left: 10px;
}

.expirience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*  FOOTER */

.footer-container {
    width:100%;
    background: var(--c-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }

.footer-main-contact {
    width: calc(50% + 140px);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.footer-my-info {
    margin-left: 20px;
}

.footer-name {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    margin-bottom: 15px;
    color: var(--txt-c-dark);
}

.footer-contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-my-contacts {
    display: flex;
    flex-direction: column;
}

.footer-profession {
    font-size: 17px;
    line-height: 150%;
    color: var(--txt-c-dark);
    margin: 0px;
    margin: 0 0 20px 0;
}

.footer-my-contacts-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.footer-tel {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    text-decoration: none;
    color: var(--txt-c-dark);
    margin: 17px 0 15px 0;
}

.footer-email {
    font-size: 17px;
    line-height: 150%;
    text-decoration: none;
    color: var(--txt-c-dark);
    margin-bottom: 30px;
}

.icons {
    margin-top: -15px;
}

.icon-link {
    text-decoration: none;
    font-size: 25px;
}

.icon-link:last-child {
    margin-right: 0px;
}

.socion-link {
    padding-right: 20px;
    text-decoration: none;
    color: var(--c-dark);
}

.socion-link:last-child {
    margin-right: 0px;
}

.phone {
    font-size: 22px;
    margin-top: -13px;
}

.mail {
    font-size: 22px;
    margin-top: 13px;
}

/* responsive starts here */



@media screen and (max-width: 1199px) {
.container {
width: 960px;
}
.expiriens-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    
}

.skills-img-text {
    font-size: 150px;
    margin: 0px 90px 0px 20px;
}
.laptop-web {
    margin-right: 30px;
    margin-top: 10px;
    width: 30%;
}

.expirience-dots last-child{
   
    margin-bottom: 20px;
}
.content-container {
    margin: 40px;
}
.footer-container {
    background: var(--c-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
}

@media screen and (max-width: 911px) {
.container {
width: 720px;
}
}

@media screen and (max-width: 767px) {
.container {
width: 540px;
}
}

@media screen and (max-width: 575px) {
    .container {
    width: 240%;
    padding: 0px 20px;
   
}
.navigation {
    width: 100%;
}



.front-page-my-name {
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    margin-top: -195px;
    margin-left: -295px;
}
.my-photo {
    width: 220px;
    height: 220px;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 20px;
}
.front-page-profesional {
    font-size: 50px;
    line-height: 65px;
    width: 400px;
    margin-left: -55x;
    margin-bottom: 40px;
    margin-top: 40px;
}

.front-page-part-1 {
    margin-right: 40px;
}

.front-page-part-2 {
    margin-left: 40px;
}

.front-page-descriptoin {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.front-page-descriptoin-text {
    color: var(--txt-c-light);
    font-size: 19px;
    line-height: 150%;
    width: 430px;
    margin: 0 0 40px 0;
    text-align: left;
    margin-left: 20px;
}

.front-page-laptop {
    width: 300px;
}

.front-page-laptop {
    position: relative;
    
    z-index: 2;
}
/* ABOUT PAGE */
.container-left {
width: 105%;
}
.about-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.about-title {
    font-size: 55px;
    line-height: 55px;
    width: 450px;
    margin-top: 0;
}

.about-img-container {
    position: absolute;
    justify-content: right;
    right: 0px;
  
}

.about-img-text {
    font-size: 240px;
    line-height: 0px;
    text-align: end;
    left: 400px;
    
}
.about-text {
width: 70%;
font-size: 25px;
line-height: 35px;
}
/* Education */

.education-list {
    width: 400px;
    margin-left: 20px;
}
/* Skills */

.skills-container {
    width: 105%;
    
}

.skills-img-text {
    font-size: 110px;
    line-height: 200px; 
    margin: 40px 40px 20px 20px;
    
}
.laptop-web {
    margin-right: 40px;
    width: 30%;
}
.content-container {
    width:0;
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
}

.expiriens-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    margin: 20px 10px;
}

.expirience-title {
    
    font-size: 30px;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.expirience-skill {
    align-items: center;
}

.expirience-soft-skill {
    margin-top: 45px;
}

.expirience-dots {
    font-size: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
}

.expirience-dots-items {
    color: var(--txt-c-grey);
    font-size: 15px;
    margin-right: 10px;
}

.expirience-dots-item-accent {
    color: var(--c-accent);
}

.expirience-text {
    color: var(--txt-c-light);
    margin: 0px;
    font-size: 25px;
    line-height: 20px;
    margin-left: 10px;
}

.expirience-container {
    margin-right: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .expirience-container:last-child {
    margin-right: 10px;
}

/* Footer */

.footer-container {
    width: 105%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }
.footer-main-contact {
    width: 675px;
    justify-content: center;
}
.footer-my-info {
    display: none;
}
.footer-contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-my-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
}
.footer-tel {
    font-weight: bold;
    font-size: 25px;
    
}

.footer-email {
    font-size: 25px; 
    margin-bottom: 20px;
}

.icons {
    margin-top: 20px;
    margin-left: 5px;
}

.icon-link {
    
    font-size: 35px;
}

.socion-link {
    margin-left: 40px;   
}


.fa-mobile-alt {
    display: none;
}
.fa-envelope-square {
    display: none;
}
}